*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
}
:root{
    --fondoBody: #EBEDD2;
    --fondoVerdeClaro: #58D68D;
    --bordesVerdeOScuro: #239B56;
    --fondoAmarillo: #B3BE2C;
    --fondoAmarilloPollito: #c5d32a;
    --fondoGris: #bcc084;
    --fondoGrisClaro: #BFC9CA;
}
body{
    background-color: var(--fondoBody);
} 
/*inicio header*/
header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: var(--fondoVerdeClaro);
}
.list-header{
    display: flex;
    justify-content: end;
    align-items: center;
}
.list-header li{
    font-size: 17px;
    padding: 15px;
    margin: 5px;
    list-style: none;
}
button{
    padding: 15px;
    font-size: 17px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--fondoVerdeClaro);
    border: 3px var(--bordesVerdeOScuro) solid;
}
.decoration:hover{
    border-radius: 10px;
    padding: 5px;
    background: var(--fondoAmarillo);
}
button:hover{
    background: var(--fondoAmarillo);
}
a{
    text-decoration: none;
    color: black;
} 
h3{
    font-size: x-large;
}
/*fin header*/
/*inicio main*/
.section-presentation{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 180px 100px 120px 100px;
    margin: 50px;
}
.imagen-principal img{
    width: 270px;
    height: 270px;
}
/*conocimientos*/
.section-knowledge{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 130px 50px 50px 50px;
    font-size: 20px;
    background-color: var(--fondoGrisClaro);
}
.box-knowledge{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 40px;
}
ul{
    list-style: none;
} 
.section-knowledge .box-knowledge div{
    padding: 10px;
    margin: 10px;
    border: 5px var(--bordesVerdeOScuro) double;
    border-radius: 30%;
    background-color: var(--fondoAmarillo);
}
.imagen-lenguajes img{
    width: 140px;
    margin: 20px;
    padding: 30px;
}
/*frase*/
.section-phrase{
    text-align: center;
    padding: 80px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--fondoVerdeClaro);
}
/*proyectos*/
.section-projects{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;    
    padding: 150px 90px 120px 90px;
    font-size: 20px;
}
.edicion-projects{
    max-width: 500px;
}
.box-projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: center;
    text-align: center;
}
.img-projects{
    width: 250px;
    height: 250px;
}
.cont-projects{
    margin: 15px;
    border: 3px var(--bordesVerdeOScuro) solid;
    border-radius: 15%;
    background-color: var(--fondoGris);
}
/*contactos*/
.box-contact{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 150px 80px 80px 80px;
    width: auto;
    height: auto;
}
.contact, .write-me{
    width: 300px;
    height: 430px;
    margin: 10px;
    padding: 10px;
    border: 3px var(--bordesVerdeOScuro) solid;
    border-radius: 2%;
    background-color: var(--fondoAmarillo); 
}
#logos-contacto{
    margin: 10px 0px;
    padding: 10px;
}
.write-me{
    width: 330px;
    height: 430px;
}
input, textarea{
    cursor: pointer;
    border-radius: 5%;
    border: 2px solid var(--bordesVerdeOScuro);
    background-color: var(--fondoAmarilloPollito);
}
#text{
    font-size: large;
}
strong{
    color: black;
}
#boton{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
}
/*fin de main*/
/*inicio footer*/
footer{
    padding: 50px;
    background-color: var(--fondoVerdeClaro);
}
.nav-footer{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.list-footer, .logo-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media screen and (max-width:880px) {
    header{
        max-width: 880px;
    }
    .section-presentation{ 
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 180px 40px 100px 40px;
        margin: 30px;
    }
    .list-header li{
        padding: 10px;
        margin: 3px;
    }
    .imagen-principal img{
        width: 230px;
    }/*edicion conocimiento*/
    .section-knowledge{
        padding: 110px 50px 50px 50px;
    }
    .box-knowledge{
        max-width: 700px;
        margin: 40px;
    } 
    .section-knowledge .box-knowledge div{
        margin: 5px;
    }
    .imagen-lenguajes img{
        width: 140px;
        margin: 10px;
        padding: 10px;
    }/*edicion projecto*/
    .section-projects{   
        padding: 110px 50px 90px 50px;
    }
    .cont-projects{
        margin: 5px;
    }
    .img-projects{
        width: 150px;
        height: 150px;
    }/*edicion contacto*/
    .box-contact{
        padding: 110px 50px 80px 50px;
    }
    .contact, .write-me{
        width: 300px;
        height: 350px;
        margin: 10px;
        padding: 10px;
    }   
}
@media screen and (max-width:480px){
    /**/
    /*cabezera*/
    header{
        max-width: 480px;
    }
    .list-header li{
        padding: 15px;
        margin: 0px;
        font-size: 15px;
    }
    button{
        padding: 5px;
        font-size: 15px;
    }
    /*presentation*/
    .section-presentation{ 
        padding: 110px 20px 70px 20px;
        margin: 50px;
    }
    .imagen-principal img{
        width: 140px;
        height: 140px;
    }    
    /*conocimientos*/
    .section-knowledge{
        padding: 100px 20px 50px 20px;
        font-size: 20px;
    }
    .box-knowledge{
        width: 400px;
        margin: 10px;
    } 
    .section-knowledge .box-knowledge div{
        padding: 5px;
        margin: 5px;
    }
    .imagen-lenguajes img{
        width: 120px;
        margin: 10px;
        padding: 10px;
    }
     /*proyectos*/
    .section-projects{    
        padding: 110px 20px 70px 20px;
    }
    .edicion-projects{
        width: 400px;
    }
    .box-projects{
        grid-template-columns: repeat(2, 1fr);
    }
    .cont-projects{
        margin: 10px;
    }
    .img-projects{
        width: 120px;
        height: 120px;
    }
    /*contacto*/
    .box-contact{
        display: block;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 110px 20px 70px 20px;
    }
    .contact, .write-me{
        width: 400px;
        height: 350px;
        margin: 10px;
        padding: 10px;
    }
    .write-me{
        width: 400px;
        height: 350px;
    }
    strong{
        color: black;
    }
    #boton{
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 10px;
        font-size: 15px;
    }
}