*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
} /*inicio header*/
header{
    background-color: #58D68D;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.list-header{
    display: flex;
    justify-content: end;
    align-items: center;
}
.list-header li{
    padding: 20px;
    margin: 5px;
    list-style: none;
    font-size: 20px;
}
header a{
    text-decoration: none;
    color: black
}  
button{
    background-color: #58D68D;
    border: 3px #239B56 solid;
    padding: 20px;
    font-size: 20px;
    border-radius: 30px;
}/*fin header*/
/*inicio main*/
main{
    padding-top: 120px;
}
.section-presentation{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    margin: 50px;
}
.imagen-principal img{
    width: 270px;
}
.section-knowledge{
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-knowledge{
    display: flex;
    flex-wrap: wrap;
}
.section-knowledge .box-knowledge div{
    padding: 10px;
    margin: 10px;
    border: 5px #239B56 solid;
}
.imagen-lenguajes img{
    width: 130px;
}


